@import url("https://fonts.googleapis.com/css?family=Comfortaa");

:root {
  font-size: 16px;
  font-family: Comfortaa;
}

body {
  background-color: black;
  margin: 0;
}

header img {
  height: 8rem;
  margin-top: -2.2rem;
  margin-left: 1rem;
}

header {
  height: 4rem; /*4 times the height of our base font*/
  background-color: #272727;
  padding: 1rem;
  color: #fff;
  line-height: 3rem;
  height: 2.5rem;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

ul {
  color: rgb(255, 255, 255);
  display: block;
  font-family: Comfortaa, cursive;
  font-size: 16px;
  height: 40px;
  line-height: 48px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 16px;
  margin-block-start: 16px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}

nav ul li:hover {
  background-color: rgba(65, 150, 124, 0.85);
  height: 4rem;
}

header > * {
  display: inline-block;
}

nav {
  height: 100%;
  /*vertical-align: top;*/
  float: right;
  /* padding: 0px 25px; */
}

/*Gets rid of dots*/
nav ul {
  list-style: none;
  height: 100%;
}

/*Displays List side by side*/
nav ul li {
  display: inline-block;
  background-color: rgba(90, 187, 158, 0.85);

  /* background-color: rgba(90,187,158, 0.85); */
  height: 100%;
  padding: 0px 10px;
  position: relative;

  transition: background-color, height 350ms;
  border-radius: 5px 5px 0px 0px;
}

.btn {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  color: black;
}
